.email-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.headers{
    font-size:80px;
    background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59); /* Chrome 10-25, Safari 5.1-6 */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;

}
.data {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  padding: 20px;

}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="email"] {
  width: 40vw;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
  color:white;
}
