/* CSS for VerticalNavigation.js */

.vertical-navigation {
    min-width: 250px;
    background-color: #f0f0f0;
    padding: 10px;
    border-right: 1px solid #ccc;
    border-radius: 16px;
    color:black;
    margin-right: 20px;
  }

  .container{
    column-count: 3; /* Set the number of columns */
  column-gap: 20px; /* Adjust the gap between columns as needed */
  max-width: 400px; /* Set a maximum width for the container if desired */
  }
  
  .vertical-navigation ul {
     /* Set the number of columns */
   /* Adjust the gap between columns as needed */
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .vertical-navigation li {
    cursor: pointer;
    padding: 16px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .vertical-navigation li:hover {
    background-color: lightblue;
    color:black;
  }
  
  .vertical-navigation li.active {
    background-color:green;
    color: #fff;
  }
  
  
  .questionnaire {
    display: flex;
  }
  
  .question {
    flex:1;
    padding: 20px;
  }
  